* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(222, 223, 244);
  text-align: center;
  padding: 0.8rem;
  width: 100%;
  background-position: fixed;
}

img {
  float: right;
  width: 41%;
  height: 40%;
}

h1 {
  font-size: 3.5rem;
  color: white;
  padding: 24px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.description {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  padding: 10px;
  color: rgb(131, 184, 164);
}

.deslocamento h2 {
  text-align: center;
  justify-content: space-evenly;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 18px;
}

input {
  width: 80px;
  border: 2px solid rgb(131, 184, 164);
  padding: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
h2 {
  color: white;
  font-size: 1rem;
  font-size: 20px;
  padding: 50px 0 10px 0;
}

#container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: 10px;
}

label {
  display: flex;
  padding: 12px;
  font-size: 21px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

textarea {
  border: 2px solid rgb(169, 166, 125);
  justify-content: space-around;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.botao {
  /*arrumar espaçamento e alinhar abaixo do text-area"*/
}

button {
  background-color: rgb(225, 82, 66);
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  display: flex;
}

button:hover {
  background-color: rgb(131, 166, 125);
}

footer {
  justify-content: center;
  padding: 20px;
}

a {
  text-decoration: none;
}

.github {
  width:2%;
  color:white;  
}